ion-content ion-toolbar {
  --background: translucent;
}

ion-item{
  --ion-item-background: transparent !important;
}

ion-icon{
  width: 100%;
}

p{
  color: black;
}

button-selected{
  background-color: #000000;
}


.carta{
  -webkit-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.75);
border: 1px solid #000000;
}